{% extends "base.html" %} {% block title %} Sign-Up {% endblock title %}
 {%block content %}

<section class="vh-100 mt-5">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form method="POST" action="{% url "register" %}">
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Username</label>
            <input
              name="username"
              type="text"
              id="form1Example131"
              class="form-control form-control-lg"
              required
            />
          </div>
          {% csrf_token %}
         
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Email address</label>
            <input
              name="email"
              type="email"
              id="form1Example13"
              class="form-control form-control-lg"
              required
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example23">Password</label>
            <input
              type="password"
              id="form1Example23"
              name="password"
              class="form-control form-control-lg"
              required
            />
          </div>
          {% csrf_token %}

          <div
            class="d-flex justify-content-around align-items-center mb-4"
          ></div>
          <a href="{% url "register" %}">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Sign-Up
            </button>
          </a>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
